Pert3/db/*
../Pert3/db/*
Pert4/db/*
../Pert4/db/*
Pert5/db/*
../Pert5/db/*
UTS/db/*
../UTS/db/*

----/db*
../----/db*

------/db*
../------/db*

dev-2025/db*
../dev-2025/db*

pert9/db*
../pert9/db*

Uas_pemweb/db*
../Uas_Pemweb/db*

UAS_PEMWEB/db*
../UAS_PEMWEB/db*

